.loader{
	display: none;
	height: 200px;
	width: 100%;
	position: relative;
	transition: all .2s ease;
}

/* -------------- loader-circles -------------- */
.loader-circles:before{
	content: "";
	position: absolute;
	top: 0px;
	left: -25px;
	height: 12px;
	width: 12px;
	border-radius: 12px;
	-webkit-animation: loader-circlesg 1.7s ease-in-out infinite;
			animation: loader-circlesg 1.7s ease-in-out infinite;
}

.loader-circles{
	position: relative;
  background-color:black;
	width: 12px;
	height: 12px;
	top: 46%;
	left: 46%;
	border-radius: 12px;
	-webkit-animation: loader-circlesm 1.7s ease-in-out infinite;
			animation: loader-circlesm 1.7s ease-in-out infinite;
}
.loader-circles:after{
	content: "";
	position: absolute;
	top: 0px;
	left: 25px;
	height: 10px;
	width: 10px;
	border-radius: 10px;
  background-color:black;
	-webkit-animation: loader-circlesd 1.7s ease-in-out infinite;
			animation: loader-circlesd 1.7s ease-in-out infinite;
}

@-webkit-keyframes loader-circlesg{
	0%{background-color: rgba(0, 0, 0, .2);}
	25%{background-color: rgba(0, 0, 0, 1);}
	50%{background-color: rgba(0, 0, 0, .2);}
	75%{background-color: rgba(0, 0, 0, .2);}
	100%{background-color: rgba(0, 0, 0, .2);}
}
@keyframes loader-circlesg{
	0%{background-color: rgba(0, 0, 0, .2);}
	25%{background-color: rgba(0, 0, 0, 1);}
	50%{background-color: rgba(0, 0, 0, .2);}
	75%{background-color: rgba(0, 0, 0, .2);}
	100%{background-color: rgba(0, 0, 0, .2);}
}

@-webkit-keyframes loader-circlesm{
	0%{background-color: rgba(0, 0, 0, .2);}
	25%{background-color: rgba(0, 0, 0, .2);}
	50%{background-color: rgba(0, 0, 0, 1);}
	75%{background-color: rgba(0, 0, 0, .2);}
	100%{background-color: rgba(0, 0, 0, .2);}
}
@keyframes loader-circlesm{
	0%{background-color: rgba(0, 0, 0, .2);}
	25%{background-color: rgba(0, 0, 0, .2);}
	50%{background-color: rgba(0, 0, 0, 1);}
	75%{background-color: rgba(0, 0, 0, .2);}
	100%{background-color: rgba(0, 0, 0, .2);}
}

@-webkit-keyframes loader-circlesd{
	0%{background-color: rgba(0, 0, 0, .2);}
	25%{background-color: rgba(0, 0, 0, .2);}
	50%{background-color: rgba(0, 0, 0, .2);}
	75%{background-color: rgba(0, 0, 0, 1);}
	100%{background-color: rgba(0, 0, 0, .2);}
}
@keyframes loader-circlesd{
	0%{background-color: rgba(0, 0, 0, .2);}
	25%{background-color: rgba(0, 0, 0, .2);}
	50%{background-color: rgba(0, 0, 0, .2);}
	75%{background-color: rgba(0, 0, 0, 1);}
	100%{background-color: rgba(0, 0, 0, .2);}
}