* {
    margin: 0;
    padding: 0;
    user-select: none;
}

html {
    overflow: hidden;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: #F2F2EF;
    color: #444444;
    min-width: 600px;
    max-height: 600px;
    overflow-y: scroll;
}

h2 {
    margin: 25px 0 20px 0;
}

h3 {
    margin: 15px 0;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #a0d4c9;
    position: relative;
}

.logo:after {
    content: "";
    position: absolute;
    width: 100%;
    bottom: 1px;
    z-index: -1;
    box-shadow: 0px -2px 8px 4px #a0d4c9;
}

.logo .logo-icon {
    height: 5em;
    margin: 20px 1em;
    height: 80px;
}

.logo h1 {
    color: #313131;
}

.errorMessage {
    color: #A71515;
}

.successMessage {
    color: #079992;
}

.errorMessage,
.successMessage {
    position: relative;
    font-size: 1.4em;
    font-weight: 600;
    background-color: #00000030;
    padding: 10px;
    margin: 40px auto 0 auto;
    width: 50%;
    text-align: center;
    border-radius: 10px;
    display: none;
}

.template-buttons {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    width: 300px;
}
.btn { 
    line-height: 1.5rem;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin: 0 5px;
    background-color: #46b0a9;
    text-align:center;
}

.btn:hover {
    opacity: 0.7;
}

.btn:disabled {
    background-color: #cacaca;
    cursor: not-allowed;
}

.story-open-btn {
    margin-left: 20px;
    line-height: 1rem;
}

.createTemplate,
.generateSubtasks {
    margin: 10px 40px;
}

.input-field {
    margin: 15px 10px;
    display: flex;
    align-items: center;
}

input, select, textarea {
    font-family: 'Raleway', sans-serif;
    border: none;
    border-radius: 7px;
}

input:focus, select:focus, textarea:focus {
    border: 1px solid #46b0a9;
    outline: none;
}

.input-field label {
    width: 200px;
}

.subtask-generalInfo {
    margin: 15px 0;
    align-items: center;
}

.subtask-generalInfo div {
    margin: 10px 20px;
}

.subtask-generalInfo div label {
    display: inline-block;
    width: 130px;
}

.story-input {
    width: 65px;
    height: 2rem;
    margin-left: 20px;
    padding-left: 10px;
    text-align: center;
}

.team-select,
.label-select {
    width: 200px;
    height: 2.3rem;
    margin-left: 20px;
    padding-left: 10px;
}

.subtask-summary {
    margin-right: 20px;
    width: 400px;
    padding: 10px;
}

.subtask-description {
    width: 400px;
    padding: 7px 0 0 10px;
}

.subtask-delete {
    font-size: 3em;
    margin-top: -8px;
    font-weight: 800;
    margin-left: 10px;
    cursor: pointer;
}

.submitSubtaks {
    width: 150px;
    margin: 0 0 20px 0;
}

.subtask-checkbox {
    margin-left: 30px;
}


.subtask-checkbox {
    margin-left: 30px;
}

.btn-copy {
    display: none;
    margin: 10px auto;
}

.copy-success {
    color: #079992;
    margin: 10px;
    display: none;
    justify-content: center;
}